<!-- templates/components/foot.html -->
    <div id="dkFoot" role="contentinfo" class="area_foot">
        <!-- 방문자수 -->
        <div class="box_aside visit">
          <div class="list_total">
            <dt>Total : <a class="total_num">1,891</a></dt>
          </div>
          <div class="list_visitor">
            <dt>Today : <a class="visitor_num">16</a></dt>
          </div>
          <div class="list_visitor">
            <dt>Yesterday : <a class="visitor_num">1</a></dt>
          </div>
        </div>
        <!-- 방문자수 끝-->

        <!-- github -->
        <div class="foot_img" onmouseover="mouseover()" onmouseleave="mouseleave()">
          <a href="https://github.com/JeeaYou">
            <img id="link_icon" src="https://tistory1.daumcdn.net/tistory/5382057/skin/images/github_gray.png">
          </a>
        </div>
        <!-- github 끝끝-->
      </div>